extends "base.jade"

block body_class
    |home

block main

    section#intro
        .background(du-parallax, y="animator")
            .image.bg-cover(ff-bg="/static/backgrounds/conference-room.jpg")
        .overlay
        .main.vcontainer
            .inner
                .logo.bg-contain(ff-bg="/static/images/logo.png")
                .dates.
                    April 12, 2019
        a.down(ng-click="scrollTo('welcome')")
            {% include "includes/chevron-down.svg" %}

    section#welcome
        .background
        .overlay
        .main.vcontainer
            .inner
                .container
                    .row.fade-up(in-view)
                        .one-half.column
                            h2 2019 &mdash; Fishers
                        .one-half.column
                            p.
                                Introducing: Indy Cloud Conf, a conference focused on cloud solutions
                                for DevOps, Machine Learning and IoT.
                            p.
                                There will be 3 tracks of talks: DevOps, Machine Learning/AI/ Big Data,
                                and Hardware/IOT.
                            p.
                                Each track will feature 8 presentations, for 24 total talks.
                            p.
                                Join us for this focused day of cloud computing, meet fellow techies,
                                and advance your knowledge on cloud architecture.
                            h3.caps.
                                April 12th, 2019#[br]
                                Fishers, IN USA

    section#newsletter
        .background(du-parallax, y="animator")
            .image.bg-cover(ff-bg="/static/backgrounds/announcements.jpg")
        .overlay
        .main.vcontainer
            .inner
                .container.fade-up(in-view)
                    .row
                        h2 Follow The Conversation
                        p.
                            Join us on Meetup to keep up-to-date on the latest news.

                        p
                            a.button.join(
                                href="https://www.meetup.com/indyaws/",
                                target="_blank"
                            ) Join IndyAWS

                    .row
                        .one-third.column.social
                            a.twitter-icon(
                                href="{{ bag('settings.TWITTER_URL') }}",
                                target="_blank"
                            ).
                                #[i.fa.fa-2x.fa-twitter]
                            | You can also follow us.

                        .one-third.column.social
                            a(
                                href="{{ bag('settings.YOUTUBE_URL') }}",
                                target="_blank"
                            ).
                                #[i.fa.fa-2x.fa-youtube]
                            | Or watch our videos.

                        .one-third.column.social
                            a(
                                href="{{ bag('settings.SLACK_URL') }}",
                                target="_blank"
                            ).
                                #[i.fa.fa-2x.fa-slack]

                            | Or join our Slack team.

    section#sponsors
        .main.vcontainer
            .inner
                .container
                    {% include "/includes/sponsor_logos.jade" %}
