extends "base.jade"

block body_class
    |home

block main

    section#intro
        .background(du-parallax, y="animator")
            .image.bg-cover(ff-bg="/static/backgrounds/fiber-optics.jpg")
        .overlay
        .main.vcontainer
            .inner
                .logo.bg-contain(ff-bg="/static/images/logo.png")
                .dates.
                    March 26-27th, 2020
                    <br>Virtual Conference</br>
        a.down(ng-click="scrollTo('welcome')")
            {% include "includes/chevron-down.svg" %}

    section#welcome
        .background
        .overlay
        .main.vcontainer
            .inner
                .container
                    .row.fade-up(in-view)
                        .one-half.column
                            h2 2020 &mdash; Virtual
                        .one-half.column
                            p.
                              Welcome to the 2nd annual Indy Cloud Conf, a 2-day virtual event focused on the latest Cloud-based technologies and implementations for devops, developers and cloud enthusiasts.
                            p.
                              Network with and learn from <a href="https://2020.indycloudconf.com/talks/"> experts </a> as they share their knowledge in Cloud architecture, Cloud native development, Machine Learning, security and automation. Talks will be organized in <a href="https://2020.indycloudconf.com/schedule/"> 3 distinct tracks </a>: DevOps Practices, Machine Learning/AI/Big Data, and Hardware/IOT.
                            p.
                              <a href="https://ti.to/indy-cloud-conf/2020"> Join us online</a> and accelerate your adoption of cloud computing.
                            h3.caps.
                              March 26-27th, 2020#[br]

    section#newsletter
        .background(du-parallax, y="animator")
            .image.bg-cover(ff-bg="/static/backgrounds/announcements.jpg")
        .overlay
        .main.vcontainer
            .inner
                .container.fade-up(in-view)
                    .row
                        h2 Follow The Conversation
                        p.
                            Join us on Meetup to keep up-to-date on the latest news.

                        p
                            a.button.join(
                                href="https://www.meetup.com/indyaws/",
                                target="_blank"
                            ) Join IndyAWS

                    .row
                        .one-third.column.digital
                            a.twitter-icon(
                                href="{{ bag('settings.TWITTER_URL') }}",
                                target="_blank"
                            ).
                                #[i.fa.fa-2x.fa-twitter]
                            | You can also follow us.

                        .one-third.column.digital
                            a(
                                href="{{ bag('settings.YOUTUBE_URL') }}",
                                target="_blank"
                            ).
                                #[i.fa.fa-2x.fa-youtube]
                            | Or watch our videos.

                        .one-third.column.digital
                            a(
                                href="{{ bag('settings.SLACK_URL') }}",
                                target="_blank"
                            ).
                                #[i.fa.fa-2x.fa-slack]

                            | Or join our Slack team.

    section#sponsors
        .main.vcontainer
            .inner
                .container
                    {% include "/includes/sponsor_logos.jade" %}
